# Inheritance and Polymorphism

In [2]:
class Employee:

    # Class variables
    empCount = 0

    # Constructor and Data Intialization
    def __init__(self, n, company, salary):
        self.name = n
        self.company = company
        self.salary = salary
        self.tax = 0
        self.__protected_var__ = 0
        Employee.empCount += 1

    # Functions
    def printinfo(self):
        print(self.name.upper())
        print('-'*30)
        print('COMPANY    :', self.company)
        print('SALARY     :', self.salary)
        print('TAX        :', self.tax)
        

    def setsalary(self, newsalary):
        self.salary = newsalary
        self.calctax()

    def getsalary(self):
        return self.salary

    def calctax(self):
        self.tax = 0.1 * float(self.salary.split()[0])

In [3]:
# CORE DEVELOPER -> Inheritance

class newemp(Employee):
    pass

In [4]:
e1 = newemp('Anil', 'Sapient', '10000000 INR')

In [5]:
e1.printinfo()

ANIL
------------------------------
COMPANY    : Sapient
SALARY     : 10000000 INR
TAX        : 0

In [6]:
type(e1)

__main__.newemp

In [15]:
class extEmployee(Employee):

    # Class variables
    # empCount is already available here

    # Constructor and Data Initialization
    # Supposed to distribute the data between parent and child
    def __init__(self, n, age, company, salary):
        super().__init__(n, company, salary)
        self.age = age
        self.addr = ''

    # Functions

    # All functions of Employee is also available here

    # Overridden function
    def printinfo(self):
        super().printinfo()
        print('-'*30)
        print('AGE        :', self.age)
        print('ADDRESS    :', self.addr)
        print('\n\n')

    # New functions
    def setaddr(self, addr):
        self.addr = addr

In [16]:
e2 = extEmployee('Sunil', 40, 'Sapient', '1500000 INR')

In [17]:
e2

In [18]:
e2.printinfo()

SUNIL
------------------------------
COMPANY    : Sapient
SALARY     : 1500000 INR
TAX        : 0
------------------------------
AGE        : 40
ADDRESS    :

In [19]:
e2.setaddr("Jayanagar, Bangalore 560040")

In [20]:
e2.printinfo()

SUNIL
------------------------------
COMPANY    : Sapient
SALARY     : 1500000 INR
TAX        : 0
------------------------------
AGE        : 40
ADDRESS    : Jayanagar, Bangalore 560040

In [21]:
e2.empCount

4

In [22]:
e1.empCount

4

In [25]:
s = e2

In [23]:
s = e1

In [26]:
s.printinfo()

SUNIL
------------------------------
COMPANY    : Sapient
SALARY     : 1500000 INR
TAX        : 0
------------------------------
AGE        : 40
ADDRESS    : Jayanagar, Bangalore 560040

In [ ]:
m.predict_sentiment()

In [29]:
e1.empCount = 6

In [30]:
e2.empCount

4